<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/resources :: head('Auto Edit')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container text-center card mt-5 mb-5">
    <h1 class="">Modifica Auto</h1>
    <hr>
    <form
            id="create-auto"
            method="post"
            th:object="${auto}"
            th:action="@{/auto/admin/edit/{id}(id=${auto.id})}"
            class="row text-center d-flex justify-content-center gy-3">

        <div class="col-8 ms-5">
            <label class="form-label" for="foto">Foto</label>
            <input class="form-control" type="text" id="foto" th:field="*{foto}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('foto')}">
                <ul>
                    <li th:each="err : ${#fields.errors('foto')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>


        <div class="col-8 ms-5">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-8 ms-5">
            <label for="description" class="form-label">Auto Description</label>
            <textarea class="form-control" rows="10" id="description" th:field="*{description}"></textarea>
        </div>
        <div class="col-4 ms-5">
            <label class="form-label" for="price">Prezzo</label>
            <input class="form-control" type="number" id="price" th:field="*{price}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <label class="form-label" for="logo">Logo</label>
            <input class="form-control" type="text" id="logo" th:field="*{logo}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('logo')}">
                <ul>
                    <li th:each="err : ${#fields.errors('logo')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4 ms-5">
            <label class="form-label" for="marca">Marca</label>
            <input class="form-control" type="text" id="marca" th:field="*{marca}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('marca')}">
                <ul>
                    <li th:each="err : ${#fields.errors('marca')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <label class="form-label" for="cambio">Cambio</label>
            <input class="form-control" type="text" id="cambio" th:field="*{cambio}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('cambio')}">
                <ul>
                    <li th:each="err : ${#fields.errors('cambio')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4 ms-5">
            <label class="form-label" for="anno">Anno</label>
            <input class="form-control" type="number" id="anno" th:field="*{anno}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('anno')}">
                <ul>
                    <li th:each="err : ${#fields.errors('anno')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <label class="form-label" for="carburante">Carburante</label>
            <input class="form-control" type="text" id="carburante" th:field="*{carburante}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('carburante')}">
                <ul>
                    <li th:each="err : ${#fields.errors('carburante')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4 ms-5">
            <label class="form-label" for="KmL">Km/l</label>
            <input class="form-control" type="number" id="KmL" th:field="*{KmL}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('KmL')}">
                <ul>
                    <li th:each="err : ${#fields.errors('KmL')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <label class="form-label" for="cavalli">Cavalli</label>
            <input class="form-control" type="number" id="cavalli" th:field="*{cavalli}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('cavalli')}">
                <ul>
                    <li th:each="err : ${#fields.errors('cavalli')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <p>Auto Type:</p>
            <select th:field="*{autoType}">
                <option th:each="auto : ${autoTypeList}"  th:value="${auto.id}" th:text="${auto.name}"></option>
            </select>
        </div>

        <div class="col-8 mt-5 mb-5">
            <button type="submit" class="btn btn-primary">Salva</button>
            <a class="btn btn-primary" th:href="@{/admin/acquistoRifornitore/catalogoAuto}">Torna al Catalogo</a>
        </div>
    </form>
</div>

<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>