<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/resources :: head('Parco Auto')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container-fluid bg-light mt-5">
    <div class="row ms-5 g-5 flex-wrap justify-content-between">
        <div class="col-md-4" th:each="auto : ${listaAuto}">
            <div class="card ms-5" style="width: 17rem; padding: 0px;">
                <a th:href="@{/auto/show/{id}(id=${auto.id})}">
                <img th:src="${auto.foto}" class="card-img" style="height: 150px; transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" alt="foto">
                </a>
                <div class="card-body text-center">
                    <h6 class="text-center"><strong>AUTOJAITA S.R.L.</strong></h6>
                    <h5 th:text="${auto.name}" class="card-title text-center text-warning"></h5>
                    <p th:text="${auto.price} + €" class="fw-bold card-text text-center text-warning"></p>
                    <a th:href=@{/acquistoCliente} class="btn btn-success btn-sm">Acquista</a>
                    <a th:href=@{/auto/edit/{id}(id=${auto.id})} class="border border-dark btn btn-outline-light text-dark btn-sm ">Modifica</a>
                    <form th:action="@{/auto/delete/{id}(id=${auto.id})}"
                          method="post"
                          onsubmit="return confirm('Are you sure?')"
                          style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Cancella</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>