.color-hf{
color: #191970;
}

.color-price-name{
color: #4682B4;
}

.bg-color-hf{
background-color: #87CEEB;
}


.bg-violet {
  background-color: #9400D3;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.bg-list{
  background-image: url(../R.jpg) ;
  background-size:cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
}



main span.animated {
animation-duration: 2.5s;
animation-iteration-count: infinite;
}

.margin-foto{
margin-top: 4rem;
}

.padding-tb{;
padding-bottom: 50px;
}

.font-fre{
font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;
}

:root {
  --gradient: linear-gradient(90deg, #212529, #D402C5, #22CBD4);

}

body {
  min-height: 100vh
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}
.color-text-footer{
color: #8E30CD;
}

.color-auto{
background-color: #68137B;
}

.color-amministrazione{
color: #4E8FD7;
}