<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Form Acquisto')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<main>
    <form class="" th:object="${acquisto}" th:action="@{/auto/acquisto}" method="post">
        <label class="form-label" for="marca">Marca</label>
        <input id="marca" class="form-control" th:field="${acquisto.getAuto().getNome()}">
        <label class="form-label" for="data">Data</label>
        <input id="data" class="form-control" th:field="${acquisto.data}">
        <label class="form-label" for="quantità"></label>
        <input id="quantità" class="form-control" th:field="${acquisto.quantità}">
    </form>
</main>

<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>