<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/resources :: head('Auto List')"></head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Prompt:wght@200&display=swap" rel="stylesheet">

<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container">
    <!-- messaggio di success che viene mostrato solo dopo redirect -->
    <div th:if="${redirectMessage != null}"
         class="alert alert-success alert-dismissible fade show mt-4"
         role="alert">
        <div th:text="${redirectMessage}" class="text-center"></div>
        <div class="text-center">Adesso non ti resta che fare il LOGIN :)</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<main class="span.animated">
    <div th:if="${message !=null}" aria-live="polite" aria-atomic="true"
         class="bg-body-secondary  bd-example-toasts rounded-3">
        <div class="toast-container p-3 bottom-0 start-50 translate-middle-x" id="toastPlacement"
             data-original-class="toast-container p-3">
            <div class="toast fade show">
                <div class="toast-body">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-header" th:text="${message}"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center mt-3 mb-3 text-light animated bounceInLeft"
                style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- Le Auto più
                vendute -</strong></h1>
            <hr>

            <div class="col-md-4 mt-4 mb-4 animated bounceInLeft" th:each="auto : ${autoList}">
                <div class="card border border-dark ms-5"
                     style="width: 25rem; height: 15rem; padding: 0px; transition: transform 0.3s;"
                     onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <a th:href="@{/auto/show/{id}(id=${auto.id})}">
                        <img th:src="${auto.foto}" class="card-img border border-dark" alt="Image"
                             style="height: 15rem;">
                        <div class="card-img-overlay text-center">
                            <h5 th:text="${auto.name}" class="card-title fs-1 text-center text-warning margin-foto"
                                style="transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.4)'"
                                onmouseout="this.style.transform='scale(1)'"></h5>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <h1 class="text-light text-center mt-2 mb-2"
                    style=" font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>-
                    Concessionarie Ufficiali -</strong></h1>
            </div>
            <div class="row mt-5 pb-3 text-center">
                <div class="col-3 mb-5 pb-5 pt-2" th:each="auto : ${logoList}">
                    <a th:href="@{/auto/concessionaria/{marca}(marca=${auto.marca})}">
                        <img th:src="${auto.logo}" style="height: 100px;">
                    </a>
                </div>
            </div>

            <h1 class="text-center text-light mt-3 mb-5"
                style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- AutoJaita
                la
                Concessionaria del futuro -</strong></h1>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/esterno-07-1440x495.webp" style="width: 100%; height: 500px" class="d-block w-100"
                             alt="azienda">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="carousel-caption d-none d-md-block">
                                <button type="button" class="btn btn-dark mb-5" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Chi Siamo?
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Chi
                                                    Siamo?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                Da decenni, AutoJaita è sinonimo di eccellenza nel mondo
                                                automobilistico.
                                                Siamo più di un concessionario, siamo una comunità appassionata di
                                                esperti
                                                automobilistici dedicati
                                                a fornire un servizio straordinario e veicoli di alta qualità.
                                                La nostra missione è superare le aspettative dei nostri clienti,
                                                mettendo a disposizione
                                                un'ampia
                                                gamma di auto
                                                che rispecchiano l'eccellenza del design, dell'innovazione e delle
                                                prestazioni. La
                                                nostra squadra di
                                                professionisti
                                                è qui per guidarti in ogni passo del processo di selezione dell'auto
                                                perfetta per le tue
                                                esigenze.
                                                Siamo orgogliosi di offrire un'esperienza di acquisto unica, basata su
                                                trasparenza,
                                                affidabilità e
                                                dedizione. Con AutoJaita,
                                                non stai solo acquistando un'auto; stai diventando parte di una storia
                                                di successo che
                                                si tramanda
                                                da generazioni.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Chiudi
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-dark mt-5" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">
                                    Sede Napoli
                                </button>
                                <div class="modal fade" id="exampleModal2" tabindex="-1"
                                     aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="card w-100 p-3">
                                            <div class="card-body">
                                                <h3 class="card-title">Sede Napoli</h3>
                                            </div>
                                            <div class="ratio ratio-16x9">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.1959476867128!2d14.2601021755054!3d40.84562152942548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b083886b58283%3A0x8a4b9fa16cec60dd!2sVia%20Marina%2C%20Napoli%20NA!5e0!3m2!1sit!2sit!4v1706800858450!5m2!1sit!2sit"
                                                        width="600" height="450" style="border:0;" allowfullscreen=""
                                                        loading="lazy"
                                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/Car_Finance_Large_banner.webp" style="width: 80%; height: 500px"
                             class="d-block w-100" alt="foto">
                        <div class="carousel-caption d-none d-md-block">
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1">
                                Perchè Scegliere AutoJaita?
                            </button>
                            <div class="modal fade" id="exampleModal1" tabindex="-1"
                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel1">Perchè
                                                Scegliere AutoJaita?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            Scegliere AutoJaita significa immergersi in un universo automobilistico di
                                            classe e convenienza.
                                            Con prezzi vantaggiosi e una selezione di veicoli di qualità, offriamo
                                            un'esperienza di
                                            guida senza
                                            eguali.
                                            Collaboriamo con partner di fama, assicurando che ogni auto nel nostro
                                            showroom soddisfi
                                            gli
                                            standard più elevati.
                                            Entra nel mondo di AutoJaita, dove l'eleganza, le prestazioni e
                                            l'affidabilità si
                                            fondono in
                                            un'offerta unica,
                                            plasmata per soddisfare le tue esigenze automobilistiche.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Chiudi
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
        <div class="container-fluid pb-5 pt-5">
            <div class="row">
                <div class="col-12 text-center pb-3 text-light"><h1
                        style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- Le
                    Vostre Domande Frequenti -</strong></h1>
                </div>
                <div class="col-2"></div>
                <div class="accordion accordion-flush col-8" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed border border-dark text-light bg-dark"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Quali sono i modelli di auto disponibili presso la vostra concessionaria?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border border-dark text-light bg-dark">La nostra
                                concessionaria
                                offre una vasta
                                gamma di modelli di auto,
                                dai veicoli compatti ideali per la città, alle eleganti berline e SUV spaziosi.
                                Collaboriamo
                                con diverse case automobilistiche di prestigio per garantire una selezione diversificata
                                che
                                soddisfi le esigenze di ogni cliente. Vieni a trovarci in sede, ti aspettiamo.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed border border-dark text-light bg-dark"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Quali opzioni di finanziamento sono disponibili per l'acquisto di un'auto?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border border-dark text-light bg-dark">
                                Abbiamo diverse opzioni di finanziamento personalizzate per adattarci alle diverse
                                situazioni finanziarie dei nostri clienti. Offriamo piani di leasing flessibili,
                                finanziamenti a tasso agevolato e promozioni speciali. Il nostro team esperto è
                                disponibile
                                per guidarti attraverso le opzioni disponibili e aiutarti a trovare la soluzione più
                                adatta
                                alle tue esigenze.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed border border-dark text-light bg-dark"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Quali servizi post-vendita offrite?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border border-dark text-light bg-dark">Il nostro
                                impegno nei
                                confronti dei clienti
                                va oltre la vendita.
                                Offriamo una gamma completa di servizi post-vendita, tra cui manutenzione programmata,
                                riparazioni, cambio gomme e servizi di assistenza stradale. Il nostro team di tecnici
                                altamente qualificati è pronto ad assicurare che la tua auto rimanga affidabile e
                                performante nel tempo, garantendo la tua tranquillità.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="container-fluid text-light text-center pb-5">
            <div class="row">
                <h1 class="text-center pb-4"
                    style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- Contattaci
                    -</strong></h1>
                <div class="col-4 border-end border-dark">
                    <br>
                    <br>
                    <h3 style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"
                        class="text-light"><strong>Online:</strong></h3>
                    <br>
                    <h5>AutoJaita Comunity:</h5>
                    <p>Benvenuti nella AutoJaita Comunity dove potrete esplorare il nostro mondo attraverso le
                        esperienze di tutti.</p>
                    <h5>Twitter - @SupportoAutoJaita:</h5>
                    <p>Diventa follower per ottenere in tempo reale info e supporto dal nostro team dedicato, condividi
                        con gli altri la tua esperienza.</p>
                    <h5>Live Chat:</h5>
                    <p>Richiedi supporto al nostro team in tempo reale.</p>
                    <h5>Inviaci un'Email: <strong>AutoJaita@gmail.com</strong></h5>
                    <p>Riceverai una risposta entro un singolo giorno lavorativo.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-4 border-start border-end border-dark">
                    <br>
                    <br>
                    <h3 style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"
                        class="text-light"><strong>Telefono:</strong></h3>
                    <br>
                    <h6>Napoli: 0818233429 <br> Novara: 0108233429 <br> Milano: 0128233429 </h6>
                    <p>Per richiedere informazioni e supporto nelle nostre sedi</p>
                    <h5>Live Support:</h5>
                    <p>Accedi per avere il supporto live dal nostro team. <br> Il servizio è disponibile dal Lunedì al
                        Sabato dalle 10:00 alle 18:00.</p>
                    <h5>Instagram Support:</h5>
                    <p>Seguici e contattaci su instagram in direct per avere il nostro supporto 7 giorni su 7.</p>
                </div>
                <div class="col-4 border-start border-dark">
                    <br>
                    <br>
                    <h3 style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"
                        class="text-light"><strong>Social:</strong></h3>
                    <br>
                    <h5>Il nostro Instagram:</h5>
                    <p class="fa text-secondary">&#xf16d;</p><span>Auto-Jaita</span>
                    <h5>Il nostro Facebook:</h5>
                    <p class="fa text-secondary">&#xf09a;</p><span>Concessionaria AutoJaita</span>
                    <h5>Il nostro Twitter:</h5>
                    <p class="fa text-secondary">&#xf099;</p><span>Auto-Jaita</span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>