<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/resources :: head('Auto List')"></head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Prompt:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<header th:replace="fragments/resources :: header"></header>
<main class="span.animated">
    <div class="container-fluid bg-light">
        <div class="row">
            <h1 class="text-center mt-3 mb-3 animated tada"
                style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- Le Auto più
                vendute -</strong></h1>
            <hr>

            <div class="col-md-4 mt-4 mb-4 animated bounceInLeft" th:each="auto : ${autoList}">
                <div class="card border border-dark ms-5"
                     style="width: 25rem; height: 15rem; padding: 0px; transition: transform 0.3s;"
                     onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <a th:href="@{/auto/show/{id}(id=${auto.id})}">
                        <img th:src="${auto.foto}" class="card-img border border-dark" alt="Image"
                             style="height: 15rem;">
                        <div class="card-img-overlay text-center">
                            <h5 th:text="${auto.name}" class="card-title fs-1 text-center color-price-name margin-foto"
                                style="transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.4)'"
                                onmouseout="this.style.transform='scale(1)'"></h5>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <h1 class="text-center mt-2 mb-2"
                    style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>-
                    Concessionarie Ufficiali -</strong></h1>
            </div>
            <div class="row mt-5 mb-5 text-center">
                <div class="col-3 mb-5 pb-5" th:each="logo : ${logoList}">
                    <a th:href="@{/auto}">
                        <img th:src="${logo}" style="height: 100px">
                    </a>
                </div>
            </div>


                <h1 class="text-center mt-5 mb-5"
                    style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- AutoJaita
                    la
                    Concessionaria del futuro -</strong></h1>
                <div class=" mt-5  bg-image bg-landing">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Chi Siamo?
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Chi Siamo?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Da decenni, AutoJaita è sinonimo di eccellenza nel mondo automobilistico.
                                    Siamo più di un concessionario, siamo una comunità appassionata di esperti automobilistici dedicati
                                    a fornire un servizio straordinario e veicoli di alta qualità.
                                    La nostra missione è superare le aspettative dei nostri clienti, mettendo a disposizione un'ampia
                                    gamma di auto
                                    che rispecchiano l'eccellenza del design, dell'innovazione e delle prestazioni. La nostra squadra di
                                    professionisti
                                    è qui per guidarti in ogni passo del processo di selezione dell'auto perfetta per le tue esigenze.
                                    Siamo orgogliosi di offrire un'esperienza di acquisto unica, basata su trasparenza, affidabilità e
                                    dedizione. Con AutoJaita,
                                    non stai solo acquistando un'auto; stai diventando parte di una storia di successo che si tramanda
                                    da generazioni.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        Perchè Scegliere AutoJaita?
                    </button>
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel1">Perchè Scegliere AutoJaita?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Scegliere AutoJaita significa immergersi in un universo automobilistico di
                                    classe e convenienza.
                                    Con prezzi vantaggiosi e una selezione di veicoli di qualità, offriamo un'esperienza di guida senza
                                    eguali.
                                    Collaboriamo con partner di fama, assicurando che ogni auto nel nostro showroom soddisfi gli
                                    standard più elevati.
                                    Entra nel mondo di AutoJaita, dove l'eleganza, le prestazioni e l'affidabilità si fondono in
                                    un'offerta unica,
                                    plasmata per soddisfare le tue esigenze automobilistiche.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



            </div>
        </div>
        <div class="container-fluid pb-5 pt-5 bg-light">
            <div class="row">
                <div class="col-12 text-center pb-3"><h1
                        style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- Le
                    Vostre Domande Frequenti -</strong></h1>
                </div>
                <div class="col-2"></div>
                <div class="accordion accordion-flush col-8" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed border border-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Quali sono i modelli di auto disponibili presso la vostra concessionaria?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border border-dark">La nostra concessionaria offre una vasta
                                gamma di modelli di auto,
                                dai veicoli compatti ideali per la città, alle eleganti berline e SUV spaziosi.
                                Collaboriamo
                                con diverse case automobilistiche di prestigio per garantire una selezione diversificata
                                che
                                soddisfi le esigenze di ogni cliente. Vieni a trovarci in sede, ti aspettiamo.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed border border-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Quali opzioni di finanziamento sono disponibili per l'acquisto di un'auto?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border border-dark">
                                Abbiamo diverse opzioni di finanziamento personalizzate per adattarci alle diverse
                                situazioni finanziarie dei nostri clienti. Offriamo piani di leasing flessibili,
                                finanziamenti a tasso agevolato e promozioni speciali. Il nostro team esperto è
                                disponibile
                                per guidarti attraverso le opzioni disponibili e aiutarti a trovare la soluzione più
                                adatta
                                alle tue esigenze.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed border border-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Quali servizi post-vendita offrite?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border border-dark">Il nostro impegno nei confronti dei clienti
                                va oltre la vendita.
                                Offriamo una gamma completa di servizi post-vendita, tra cui manutenzione programmata,
                                riparazioni, cambio gomme e servizi di assistenza stradale. Il nostro team di tecnici
                                altamente qualificati è pronto ad assicurare che la tua auto rimanga affidabile e
                                performante nel tempo, garantendo la tua tranquillità.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="container-fluid bg-light text-center pb-5">
            <div class="row">
                <h1 class="text-center pb-4"
                    style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"><strong>- Contattaci
                    -</strong></h1>
                <div class="col-4 border-end border-dark">
                    <br>
                    <br>
                    <h3 style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"
                        class="text-danger"><strong>Online:</strong></h3>
                    <br>
                    <h5>AutoJaita Comunity:</h5>
                    <p>Benvenuti nella AutoJaita Comunity dove potrete esplorare il nostro mondo attraverso le
                        esperienze di tutti.</p>
                    <h5>Twitter - @SupportoAutoJaita:</h5>
                    <p>Diventa follower per ottenere in tempo reale info e supporto dal nostro team dedicato, condividi
                        con gli altri la tua esperienza.</p>
                    <h5>Live Chat:</h5>
                    <p>Richiedi supporto al nostro team in tempo reale.</p>
                    <h5>Inviaci un'Email: <strong>AutoJaita@gmail.com</strong></h5>
                    <p>Riceverai una risposta entro un singolo giorno lavorativo.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-4 border-start border-end border-dark">
                    <br>
                    <br>
                    <h3 style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"
                        class="text-danger"><strong>Telefono:</strong></h3>
                    <br>
                    <h6>Napoli: 0818233429 <br> Novara: 0108233429 <br> Milano: 0128233429 </h6>
                    <p>Per richiedere informazioni e supporto nelle nostre sedi</p>
                    <h5>Live Support:</h5>
                    <p>Accedi per avere il supporto live dal nostro team. <br> Il servizio è disponibile dal Lunedì al
                        Sabato dalle 10:00 alle 18:00.</p>
                    <h5>Instagram support:</h5>
                    <p>Seguici e contattaci su instagram in direct per avere il nostro supporto 7 giorni su 7.</p>
                </div>
                <div class="col-4 border-start border-dark">
                    <br>
                    <br>
                    <h3 style="font-family: 'Fredoka', sans-serif; font-family: 'Prompt', sans-serif;"
                        class="text-danger"><strong>I Nostri Social:</strong></h3>
                    <br>
                    <h5>Il nostro Instagram:</h5>
                    <p class="fa">&#xf16d;</p><span>Auto-Jaita</span>
                    <h5>Il nostro Facebook:</h5>
                    <p class="fa">&#xf09a;</p><span>Concessionaria AutoJaita</span>
                    <h5>Il nostro Twitter:</h5>
                    <p class="fa">&#xf099;</p><span>Auto-Jaita</span>
                </div>
            </div>
        </div>

</main>
<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>