<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/resources :: head('Parco Auto')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container mt-5 mb-5 card">
<div class="alert alert-info" th:if="${listaAuto.size() == 0}">Non ci sono Auto presenti</div>
<table class="table" th:unless="${listaAuto.size() == 0}">
    <h1 class="text-center">Parco Auto Amministrazione</h1>
    <thead>
    <tr>
        <th class="col-1 text-center">Id</th>
        <th class="col-2 text-center">Name</th>
        <th class="col-1 text-center">Auto Type</th>
        <th class="col-2 text-center">Price</th>
        <th class="col-2 text-center"></th>
        <th class="col-2 text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auto : ${listaAuto}">
        <th th:text="${auto.id}" class=" text-center"></th>
        <td th:text="${auto.name}" class=" text-center"></td>
        <td th:text="${auto.autoType.name}" class=" text-center"></td>
        <td th:text="${auto.getFormattedPrice() + ' €'}" class=" text-center"></td>
        <td><a th:href=@{/auto/admin/edit/{id}(id=${auto.id})} class="btn btn-primary btn-sm">Modifica</a></td>
        <td><form th:action="@{/auto/admin/delete/{id}(id=${auto.id})}"
              method="post"
              onsubmit="return confirm('Are you sure?')"
              style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm">Cancella</button>
        </form></td>
    </tr>
    </tbody>
    <hr>
</table>
<div class="text-center mb-3">
<a th:href=@{/auto/admin/create} class="btn btn-warning text-center">Aggiungi Auto +</a>
</div>
</div>
<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>