<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/resources :: head('Vendite')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container mt-5 mb-5 card">
    <div class="alert alert-info" th:if="${acquistoClienteList.size() == 0}">Non ci sono Categorie presenti</div>
    <table class="table" th:unless="${acquistoClienteList.size() == 0}">
        <h1 class="text-center">Vendite</h1>
        <thead>
        <tr>
            <th class="col-1 text-center">Id</th>
            <th class="col-2 text-center">Data</th>
            <th class="col-2 text-center">Quantità</th>
            <th class="col-2 text-center">Auto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vendite : ${acquistoClienteList}">
            <th th:text="${vendite.id}" class=" text-center"></th>
            <td th:text="${vendite.data}" class=" text-center"></td>
            <td th:text="${vendite.quantita}" class=" text-center"></td>
            <td th:text="${vendite.getAuto().getName()}" class=" text-center"></td>
        </tr>
        </tbody>
        <hr>
    </table>
</div>
<footer th:replace="fragments/resources :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>