<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RifornimentoCreazione</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container-fluid bg-light pt-3 pb-3">
        <div class="row navbar navbar-expand-lg text-center">
            <div class="col-4 text-start pt-4 pb-4">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="navbar-brand" th:href="@{/}"><strong>Home</strong></a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${area == 'auto' ? 'active' : ''}"
                               th:href="@{/auto}">Auto</a>
                        </li>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Categorie
                                    </a>
                                    <ul class="dropdown-menu " >
                                        <li th:each="autoType:${autoTypeList}">
                                            <a class="dropdown-item" th:href="@{#}" th:text="${autoType.name}"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${area == 'acquistoRifornitore' ? 'active' : ''}"
                               th:href="@{/acquistoRifornitore}">Rifornimento</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>

            </div>
            <div class="col-4 pt-2 pb-2">
                <a class="navbar-brand" th:href="@{/}">
                    <h5>gruppo</h5>
                    <h1><strong>AUTOJAITA</strong></h1>
                    <h6>S.R.L.</h6>
                </a>
            </div>
            <div class="col-4 text-end fs-6 pt-5 pb-4">
                <i class="fa fa-instagram" style="font-size:38px;color:red"></i>
                <i class="fa fa-facebook" style="font-size:38px;color:blue"></i>
                <i class="fa fa-twitter text-primary" style="font-size:38px;"></i>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container card mt-5">
        <h1>Crea rifornimento</h1>
        <hr>
        <form class="row justify-content-center mb-5 gy-3" th:action="@{/acquistoRifornitore/create}" th:object="${rifornimento}" method="post">
            <div class="col-6">
                <label class="form-label" for="auto">Auto</label>
                <select id="auto" class="form-select" th:field="*{auto}" th:errorClass="is-invalid">
                    <option value="" selected>Inserisci Auto</option>
                    <option th:each="auto : ${autoList}" th:value="${auto.id}"
                            th:text="${auto.name}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('auto')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('auto')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label" for="data">Data</label>
                <input class="form-control" type="date" th:field="*{data}" id="data" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('data')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('data')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label text-center" for="nomeFornitore">Nome Rifornitore</label>
                <input class="form-control" type="text" th:field="*{nomeFornitore}" id="nomeFornitore" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('nomeFornitore')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('nomeFornitore')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label text-center" for="price">Prezzo</label>
                <input class="form-control" type="number" th:field="*{price}" id="price" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <label class="form-label text-center" for="quantità">Quantità</label>
                <input class="form-control" type="number" th:field="*{quantità}" id="quantità" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('quantità')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('quantità')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-end pt-5">
                <div class="col-3 text-center">
                    <button type="submit" class="btn btn-primary">Aggiungi</button>
                </div>
            </div>
        </form>

    </div>
</main>
<footer>
    <div class="container-fluid bg-light pt-4 pb-3">
        <div class="row">
            <div class="col-12 text-center">
                <h6>gruppo</h6>
                <h4><strong>AUTOJAITA</strong></h4>
                <p style="font-size: 10px">partita iva: 0050000400009</p>
            </div>
            <div class="col-6 text-end" style="font-size: 12px">
                <h5 class="text-warning">Vendita</h5>
                <p>Lunedì - Venerdì: 9:00 - 13.30 / 14.30 - 19:30</p>
                <p>Sabato: 9:00 - 13.30 / 14:30 - 18:00</p>
                <p>Domenica: 10.00 - 13.00</p>
            </div>
            <div class="col-6" style="font-size: 12px">
                <h5 class="text-warning">Assistenza</h5>
                <p>Lunedì - venerdì: 8:30 - 13:30 / 14:30 - 18:30</p>
                <p>Sabato: 8:30 - 13:30</p>
                <p>Domenica: Chiuso</p>
            </div>
            <div class=" col-12 row text-center">
                <p>©Copyright 2024</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>