<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Index Rifornimento')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container mt-5 card">
    <h1>Rifornimento</h1>
    <hr>
    <div class="alert alert-info" th:if="${rifornimentoList.size() == 0}">Non ci sono rifornimenti presenti</div>
    <table class="table" th:unless="${rifornimentoList.size() == 0}">
        <thead>
        <tr>
            <th class="col-1 text-center">Id</th>
            <th class="col-1 text-center">Data</th>
            <th class="col-2 text-center">Nome Fornitore</th>
            <th class="col-1 text-center">Prezzo</th>
            <th class="col-2 text-center">Auto</th>
            <th class="text-center col-1">Quantità Rifornimento</th>
            <th class="text-center col-1">Quantità Totale(Auto)</th>
            <th class="text-center col-1">Quantità Venduta</th>
            <th class="text-center col-1">Quantità Magazzino</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rifo : ${rifornimentoList}">
            <th th:text="${rifo.id}" class="text-center"></th>
            <td th:text="${rifo.data}" class="text-center"></td>
            <td th:text="${rifo.nomeFornitore}" class="text-center"></td>
            <td th:text="${rifo.price + ' €'}" class="text-center"></td>
            <td th:text="${rifo.getAuto().getName()}" th:if="${rifo.getAuto() != null}" class="text-center"></td>
            <td th:text="${rifo.quantita}" class="text-center"></td>
            <td th:text="${rifo.getAuto().totaleAuto()}" class="text-center"></td>
            <td th:text="${rifo.getAuto().vendite()}" class="text-center"></td>
            <td th:text="${rifo.getAuto().magazzino()}" class="text-center"></td>
        </tr>
        </tbody>
        <hr>
    </table>
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-4 text-center">
            <a class="btn btn-primary" th:href="@{/acquistoRifornitore/create}">Aggiungi rifornimento</a>
            <a class="btn btn-primary" th:href="@{/}">Back Home</a>
        </div>
    </div>


</div>
<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>