<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Index Rifornimento')"></head>
<body>
<header th:replace="fragments/resources :: header"></header>
<div class="container mt-5 card">
    <h1>Rifornimento</h1>
    <hr>
    <div class="alert alert-info" th:if="${rifornimentoList.size() == 0}">Non ci sono rifornimenti presenti</div>
    <table class="table" th:unless="${rifornimentoList.size() == 0}">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Data</th>
            <th scope="col">Nome Fornitore</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Auto</th>
            <th scope="col" class="text-center">Quantità Rifornimento</th>
            <th scope="col" class="text-center">Quantità Acquistate</th>
            <th scope="col" class="text-center">Quantità Rimaste</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rifo : ${rifornimentoList}">
            <th th:text="${rifo.id}"></th>
            <td th:text="${rifo.data}"></td>
            <td th:text="${rifo.nomeFornitore}"></td>
            <td th:text="${rifo.price + ' €'}"></td>
            <td th:text="${rifo.getAuto().getName()}" th:if="${rifo.getAuto() != null}"></td>
            <td th:text="${rifo.quantita}" class="text-center"></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <hr>
    </table>
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-4 text-center">
            <a class="btn btn-primary" th:href="@{/acquistoRifornitore/create}">Aggiungi rifornimento</a>
            <a class="btn btn-primary" th:href="@{/}">Back Home</a>
        </div>
    </div>


</div>
<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>